<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" type="text/css" media="all" />
        <title>Welcome</title>
    </head>
    <body>
        <h1 class="title">Welcome. Enter the text you want to utilise</h1>
        <form action="/answer" method="POST" accept-charset="utf-8">
            <textarea name="texInput" id=texInput rows="8" cols="40"></textarea><br />
            <input type="checkbox" name="ucase" class="radios" value='uc' /> <span>Upper Case</span>
            <input type="checkbox" name="lcase" class="radios" value="lc"/> <span>Lower Case</span>
            <input type="submit" name="submit" id="submit" value="Submit" />
            
      <p class="answer">{{answer}}</p>
        </form>
    </body>
</html>